<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>

<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

<br />

<h2 class="lead text-center display-2">Audit Tail</h1>

<table class="table table-hover table-dark" id="dataTable">
  <thead>
    <tr>
      <th scope="col">Officer Id</th>
      <th scope="col">Author</th>
      <th scope="col">Cell #</th>
      <th scope="col">County</th>
      <th scope="col">Status</th>
      <th scope="col">Message</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>

<!-- Bottom component -->
<%- include('hub/bottom'); -%>
